div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#map {
    top: 20vh;
    left: 25vw;
    height: 60vh;
    width: 50vw;
}
ul {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    list-style-type: none;
    top: 80vh;
    left: 27vw;
}
.btn {
    position: relative;
    list-style-type: none;
    margin-right: 10px;
}
.now {
    background: #005eff;
    color: red;
}