div {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    list-style-type: none;
    justify-content: center;
    white-space: nowrap;
    top: 10vh;
    height: auto;
    width: 98%;
}
.btn {
    position: relative;
    margin-right: 5px;
}
.nowYear {
    background: #005eff;
    color: red;
}
.nowOptional {
    background: #005eff;
}
#map {
    top: 10vh;
    left: 25vw;
    height: 60vh;
    width: 50vw;
}
#year {
    justify-content: none;
    align-items: center;
    width: 30vw;
    overflow-x: scroll;
    left: 35vw;
    margin-right: 0;
}
#y2021 {
    margin-right: 40vw;
}
#optional {
    justify-content: center;
    align-items: center;
    top: 10vh;
    width: 20vw;
    left: 37vw;
}